@using FluentSignals.Web.Shared.SharedApplication
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FluentSignals.Web.Server.styles.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="/Icon.png" />
    <HeadOutlet />
    <title>FluentSignals - Reactive State Management for .NET</title>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    
</body>

</html>
